@import "~react-toastify/scss/main";
:root {
    --toastify-color-transparent: rgba(0, 0, 0, .3);
    --toastify-toast-min-height: 56px;

    /* Custom Success */
    --toastify-color-success: #00A961;
    --toastify-icon-color-success: #00634B;
    --toastify-color-progress-success: #00634B;
    --toastify-text-color-success: #FFF;
    /* Custom Error */
    --toastify-color-error: #E00000;
    --toastify-icon-color-error: #940101;
    --toastify-color-progress-error: #940101;
    --toastify-text-color-error: #FFF;
}
