.subscriber-management.empty-list {
  min-height: 100%;

  &-header {
    height: 2.875rem;
  }

  .mantine-Grid-inner {
    min-height: 100%;

    .subscriber-management-empty-page {
      display: flex !important;
      align-items: center;
      flex-direction: column;
    }
  }
}